<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html style="height:100%">
	<head>
		<script type="text/javascript" src="../../include-all.js"></script>
		<script type="text/javascript">
			
			var view = new dorado.widget.View({
				layout: {
					$type: "Anchor",
					padding: 10
				}
			});
			
			var container = new dorado.widget.Container({
				width: 600,
				height: 400,
				style: {
					background: "lightgray"
				},
				layout: {
					$type: "VBox",
					pack: "end",
					align: "right",
					stretch: true
				}
				//contentOverflow: "hidden"
			});
			view.addChild(container);
			
			c = new dorado.widget.Button({
				caption: "Button1"
			});
			container.addChild(c);
			
			c = new dorado.widget.Button({
				caption: "Button2"
			});
			container.addChild(c);
			
			c = new dorado.widget.Panel({
				caption: "Panel",
				height: 100,
				collapseable: true
			});
			container.addChild(c);
			
			c = new dorado.widget.Control({
				height: 50,
				style: {
					background: "blue"
				}
			});
			container.addChild(c);
			
			c = new dorado.widget.Control({
				width: 100,
				height: 30,
				style: {
					background: "red"
				}
			});
			container.addChild(c);
			
			$(document).ready(function() {
				view.render(document.body);
			});
		</script>
	</head>
	<body scroll="no" style="height:100%;margin:0px;overflow:hidden"></body>
</html>
